@model Test.Models.DroneDataModel

@{
    var gridPath = "";
    var imagePath = "";
    var backPath = "";
    var bestPath = "";
    var inpsirePath = "";
    ViewData["Title"] = "Home Page";
    imagePath = @"./build.svg";
    gridPath = @"./grid.png";
    backPath = @"./back.png";
    bestPath = @"./BestPower.png";
    inpsirePath = @"./Inspire.png";
}
@*<meta name="viewport" content="width=device-width, initial-scale=1">*@
<body background= "./back.png">
    <div class="container" style="margin: auto; align-content: center">
        @*<img class="background" src= "@backPath"/>*@
        <div id="onTop" class="text-center" style="margin-top: 20%; z-index: 2;">
            <h1 class="display-3"><strong>Build An Amazing Site</strong></h1>
            <p class="display-5" style="padding-bottom: 5%">Built for flexibility and power, Construction.Site improves your web presence</p>
            <a asp-area="" asp-controller="Home" asp-action="Auth">
                <button class="btn btn-primary" style="border-color: #74B9FF; background-color: #74B9FF">START BUILDING</button>
            </a>
            @*<div class="zstack">*@
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                <div id="largeFeatureCard" class="row-fluid" style="margin-top: 10%">
                    <div class="span3" style="padding-left: 10%">
                        <div class="leftText">
                            <h2 style="text-align: left; margin-bottom: 5%">Powerful Website Builder</h2>
                            <p style="text-align: left">Build amazing websites DIY or with professional support and have access to intutive frameworks and tools</p>
                            <h4 style="text-align: left">Learn More</h4>
                        </div>

                    </div>
            </a>
            <div class="span2" style="padding-right: 10%">
                <img class="rightImg" src=@imagePath />

            </div>
            <img class="back" src=@gridPath style="max-width:80%" />
        </div>

            @*</div>*@
            @*<div class="zstack" style="margin-top: 5%">
            <div class="largeFeatureCard">
                <div class="leftText">
                    <h1 style="text-align: left; margin-bottom: 5%">Powerful Website Builder</h1>
                    <p  style="text-align: left">Build amazing websites DIY or with professional support and have access to intutive frameworks and tools</p>
                    <h3 style="text-align: left">Learn More</h3>
                </div>
                <img class="rightImg" src=@imagePath />
                <img class="back" src=@gridPath />
            </div>
        </div>*@
            @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <h1>@Model.id</h1>*@
            <img class="display-3" src=@bestPath style="max-width:80%; margin-top: 5%" />

            <div id="onTop" class="text-center" style="margin-top: 20%; z-index: 2;">


                <h1 class="display-3"><strong>Be Inspired</strong></h1>
                <p class="display-5" style="padding-bottom: 5%">See what we can construct at Construction.Site</p>
                <a href="https://andreasink.web.app">

                    <img id="largeFeatureCard"style="max-width: 95%"src=@inpsirePath />
                </a>

            </div>
        </div>

    </div>
</body>