
@model Test.Models.DroneDataModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p class="display-10">Hello World is cool</p>
    <div class="largeFeatureCard">
        <div class="leftText">
            <h1 class="display-4">Hello World</h1>
            <img class="rightImg" src="<%=ResolveUrl("~/drone.png")%>">
        </div>
    </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <h1>@Model.id</h1>
    </div>
